.loader-container {
  position: absolute;
  height: 100%;
  opacity: 0.3;
  background-color: black;
  z-index: 1;
  width: 100%;
}
.loader-container > .loader {
  display: flex;
  height: 62px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader > img {
  -webkit-animation: rotation 2s infinite linear;
  height: 62px;
}

.loader-container.hide {
  display: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}
