.main-container {
  display: block;
  width: 100%;
}

.route-info {
  position: absolute;
  top: 265px;
  border: 1px solid #f2f2f2;
  width: 21em;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 10px auto;
}

@media only screen and (max-width: 1023px) {
  .route-info {
    width: 36%;
  }
}
@media only screen and (max-width: 767px) {
  .route-info {
      width: 21%;
  }
}
